// Chứa biến: màu sắc, kích thước
$main-color: #51843c;
$first-color: #222222;
$second-color: #777777;
$white-color: #ffffff;

$first-bg-color: #333333;
$second-bg-color: #292929;
$third-bg-color: #383838;
$black-bg: #222222;
$white-bg: #ffffff;

$font-w-600: 600;
$font-w-500: 500;
$font-w-400: 400;
$font-w-300: 300;

$header-height: 6rem;
$line-height-36: 3.6rem;
